openai>=1.0.0
streamlit
transformers
accelerate
flask
requests
numpy
pandas
scikit-learn
matplotlib
seaborn
python-dotenv
torch
huggingface-hub
streamlit_feedback
replicate
gpt4all
langchain
PyPDF2
tiktoken
faiss-cpu
youtube-transcript-api
tqdm
pytube